<!-- NEWS LIST BIO -->
<aside class="article-bio">
	<div class="article-bio__donut-container">
		<h3 class="article-bio__graph-title">Principais tags</h3>
		{% include charts/donut-chart.html %}
	</div>
	<div class="article-bio__numbers-container article-bio__numbers-container--compost">
		<h3 class="article-bio__header">Ao todo são:</h3>
		<p class="article-bio__numbers"><span class="article-bio__number">57</span> <span class="article-bio__numbers-description">autores na plataforma</span></p>
		<p class="article-bio__numbers"><span class="article-bio__number">14</span> <span class="article-bio__numbers-description">autores na rede</span></p>
	</div>
	<div class="article-bio__graph-container">
		<h3 class="article-bio__graph-title">Média de posts/mês</h3>
		{% include charts/network-line-chart.html %}
	</div>
</aside>
<!-- NEWS LIST BIO -->