<!-- ARTICLES -->
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<a href="#" class="article-cards__category">Capacitação</a>
					<header class="article-cards__header">
						<a href="#"><h3 class="article-cards__title">Questões legais: licenças</h3></a>
						<span class="article-cards__date">Por <a href="#">Nome do autor</a></span>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Este curso apresenta um convite às reflexões sobre as questões fundamentais relacionadas ao licenciamento de direitos associados a dados abertos. Serão mostradas, também, algumas experiências internacionais sobre o assunto. Ele se baseia parcialmente no conteúdo reunido pelo governo brasileiro, no âmbito da Infraestrurua Nacional de Dados Abertos (INDA) para viabilizar um estudo sobre licenças de dados governamentais abertos.</p>
					</a>
					<a class="article-cards__read-more" href="#">Leia mais <span class="visuallyhidden">sobre Questões legais: licenças</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<a href="#" class="article-cards__category">Materiais de referência</a>
					<header class="article-cards__header">
						<a href="#"><h3 class="article-cards__title">Tool Kit para Publicação de dados em formato aberto</h3></a>
						<span class="article-cards__date">Por <a href="#">Nome do autor</a></span>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">O material abaixo foi produzido pela equipe do escritório do W3C Brasil para facilitar o estudo e capacitação dos interessados em publicar dados em formato aberto. Vídeo Curso Online – Publicação de dados em formato aberto Curso Online – Lei de Acesso à Informação Texto base – Publicação de dados em formato aberto Conteúdo [...]</p>
					</a>
					<a class="article-cards__read-more" href="#">Leia mais <span class="visuallyhidden">Tool Kit para Publicação de dados em formato aberto</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<a href="#" class="article-cards__category">Conceitos</a>
					<header class="article-cards__header">
						<a href="#"><h3 class="article-cards__title">As 5 estrelas dos Dados Abertos</h3></a>
						<span class="article-cards__date">Por <a href="#">Nome do autor</a></span>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Quando falamos de estratégias de Dados Abertos que vão além da simples publicação de informações, podemos trazer à discussão o conceito de Dados Linkados ou ir mais além: Dados Abertos Linkados, ou Linked Open Data (LOD). Nas palavras de Tim Berners-Lee, o inventor da World Wide Web, “Dados Abertos Linkados são Dados Linkados publicados por meio [...]</p>
					</a>
					<a class="article-cards__read-more" href="#">Leia mais <span class="visuallyhidden">As 5 estrelas dos Dados Abertos</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<a href="#" class="article-cards__category">Conceitos</a>
					<header class="article-cards__header">
						<a href="#"><h3 class="article-cards__title">Dados Abertos e Dados Linkados</h3></a>
						<span class="article-cards__date">Por <a href="#">Nome do autor</a></span>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Linked Data e Open Data. Em português: Dados Linkados e Dados Abertos. Os nomes se parecem, mas os conceitos são diferentes. Na verdade, Linked Data complementa o movimento de Open Data. E o ideal seria que os dois andassem juntos. Linked Data ou Dados Linkados é um passo à frente do conceito de Dados Abertos, e necessita destes para existir.</p>
					</a>
					<a class="article-cards__read-more" href="#">Leia mais <span class="visuallyhidden">sobre Dados Abertos e Dados Linkados</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<!-- END ARTICLES -->