<!-- AUTHOR ENTRY -->
<div class="article-entry">
	<p>Começou a explorar as capacidades do HTML ainda nos meados de 2003 quando animar a barra de status do IE e usar Mouse Trail garantiam o sucesso de um site.</p>
	<p>Atualmente é formado em Análise e Desenvolvimento de Sistemas, faz parte do time de Desenvolvimento Web do NIC.br e participou, dentre outros projetos, das reformulações do site do Registro.br, CGI.br e NIC.br.</p>
	<p>Também colabora em projetos Open Source sendo um dos organizadores do WordCamp São Paulo e contribuindo de diversas formas para o crescimento e expansão da comunidade no país.</p>
</div>
<!-- END AUTHOR ENTRY -->