<!-- ABOUT PLATFORM -->
<section class="section">
	<div class="content">
		<div id="js-about-platform" class="about-platform-container">
			<div class="about-platform__header">
				<h2 class="about-platform__title">Entenda a plataforma</h2>
				<button class="about-platform__close" title="Fechar"><span class="visuallyhidden">Fechar</span><svg class="icon icon-close"><use xlink:href="img/icons/icons.svg#icon-close"></use></svg></button>
			</div>
			<ol class="about-platform-list">
				<li class="col-4-12 about-platform-list__item">
					<a href="#" class="about-platform-list__anchor">
						<span class="about-platform-list__number">1</span>
						<div class="about-platform-list__info">
							<h3 class="about-platform-list__title">Entenda</h3>
							<p class="about-platform-list__text">Entenda os conceitos de Dados Abertos e o que exatamente eles podem fazer por você.</p>
						</div>
					</a>
				</li>
				<li class="col-4-12 about-platform-list__item">
					<a href="#" class="about-platform-list__anchor">
						<span class="about-platform-list__number">2</span>
						<div class="about-platform-list__info">
							<h3 class="about-platform-list__title">Descubra</h3>
							<p class="about-platform-list__text">São mais de 236 iniciativas em nossa plataforma, entre artigos, notícias, entrevistas e mais.</p>
						</div>
					</a>
				</li>
				<li class="col-4-12 last about-platform-list__item">
					<a href="#" class="about-platform-list__anchor">
						<span class="about-platform-list__number">3</span>
						<div class="about-platform-list__info">
							<h3 class="about-platform-list__title">Participe</h3>
							<p class="about-platform-list__text">Seja parte dessa rede! Você pode abrir seus dados ou então se tornar um contribuidor.</p>
						</div>
					</a>
				</li>
			</ol>
		</div>
	</div>
</section>
<!-- END ABOUT PLATFORM -->