<!-- ACTIVE LIST -->
<ul class="active-list">
	<li class="active-list__item">
		<a href="#" class="active-list__anchor">
			<img class="active-list__thumb" src="{{ "img/examples/article-bio-thumb.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova"/>
		</a>
	</li>
	<li class="active-list__item">
		<a href="#" class="active-list__anchor">
			<img class="active-list__thumb" src="{{ "img/examples/article-bio-thumb-2.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova"/>
		</a>
	</li>
	<li class="active-list__item">
		<a href="#" class="active-list__anchor">
			<img class="active-list__thumb" src="{{ "img/examples/article-bio-thumb-3.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova"/>
		</a>
	</li>
	<li class="active-list__item">
		<a href="#" class="active-list__anchor">
			<img class="active-list__thumb" src="{{ "img/examples/article-bio-thumb-4.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova"/>
		</a>
	</li>
	<li class="active-list__item">
		<a href="#" class="active-list__anchor">
			<img class="active-list__thumb" src="{{ "img/examples/article-bio-thumb-5.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova"/>
		</a>
	</li>
	<li class="active-list__item">
		<a href="#" class="active-list__anchor">
			<img class="active-list__thumb" src="{{ "img/examples/article-bio-thumb-6.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova"/>
		</a>
	</li>
</ul>
<!-- END ACTIVE LIST -->