<!-- ARTICLES -->
<section class="articles-wrapper">
	<h2 class="title">Artigos</h2>
	<div class="row article-cards__list" data-columns>
		<article class="article-cards__card article-cards__card--fluid">
			<div class="article-cards__holder">
				<div class="article-cards__content article-cards__content--front">
					<div class="article-cards__article">
						<div class="article-cards__content-wrapper">
							<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Governo</a>
							<header class="article-cards__header">
								<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Portal Brasileiro de Dados Abertos</h3></a>
								<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Jorge Machado</a></span>
							</header>
							<a href="{{ "articles/" | prepend: page.baseurl }}">
								<p class="article-cards__excerpt">O orçamento público deve expressar o planejamento das ações para atender às necessidades e prioridades da população.</p>
							</a>
							<a class="article-cards__read-more" href="{{ "articles/" | prepend: page.baseurl }}">Leia mais <span class="visuallyhidden">sobre Portal Brasileiro de Dados Abertos</span></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="article-cards__card article-cards__card--fluid">
			<div class="article-cards__holder">
				<div class="article-cards__content article-cards__content--front">
					<div class="article-cards__article">
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<img class="article-cards__thumb" src="img/examples/card-image-article.jpg" alt="alt da imagem" />
						</a>
						<div class="article-cards__content-wrapper">
							<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Terceiro Setor</a>
							<header class="article-cards__header">
								<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Boas práticas com dados abertos: Sunlight Foundation</h3></a>
								<span class="article-cards__date"><span class="visuallyhidden">English article</span><svg class="article-cards__icon-language icon icon-languages"><use xlink:href="img/icons/icons.svg#icon-language--en-us"></use></svg>Por <a href="{{ "author/" | prepend: page.baseurl }}">Iris Palma</a></span>
							</header>
							<a href="{{ "articles/" | prepend: page.baseurl }}">
								<p class="article-cards__excerpt">It is likely that the rise of open data as a mechanism for public transparency, cooperation and innovation has not yet reached its peak , especially in countries where public administration are still in a process of intensive incorporate technologies in relations with citizenship.</p>
							</a>
							<a class="article-cards__read-more" href="{{ "articles/" | prepend: page.baseurl }}">read more <span class="visuallyhidden">Boas práticas com dados abertos: Sunlight Foundation</span></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="article-cards__card article-cards__card--fluid">
			<div class="article-cards__holder">
				<div class="article-cards__content article-cards__content--front">
					<div class="article-cards__article">
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<img class="article-cards__thumb" src="img/examples/card-image-article-2.jpg" alt="alt da imagem" />
						</a>
						<div class="article-cards__content-wrapper">
							<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Educação</a>
							<header class="article-cards__header">
								<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">ENDA: Educação em Dados Abertos</h3></a>
								<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Everton 137</a></span>
							</header>
							<a href="{{ "articles/" | prepend: page.baseurl }}">
								<p class="article-cards__excerpt">Na Trilha Educação em Dados Abertos do Encontro Nacional de Dados Abertos, contamos com a participação de dois membros da sociedade civil, Gustavo Paiva, da Ação Educativa, e Ernesto Faria, da Fundação Lemman, e dois membros do governo, Eduardo Cheng, do Ministério da Educação, e Alexandre Santos, do Inep.</p>
							</a>
							<a class="article-cards__read-more" href="{{ "articles/" | prepend: page.baseurl }}">Leia mais <span class="visuallyhidden">ENDA: Educação em Dados Abertos</span></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="article-cards__card article-cards__card--fluid">
			<div class="article-cards__holder">
				<div class="article-cards__content article-cards__content--front">
					<div class="article-cards__article">
						<div class="article-cards__content-wrapper">
							<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Serviços</a>
							<header class="article-cards__header">
								<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Open 311</h3></a>
								<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Danielle Pereira</a></span>
							</header>
							<a href="{{ "articles/" | prepend: page.baseurl }}">
								<p class="article-cards__excerpt">Open 311 proporciona canais abertos de comunicação sobre espaços e serviços públicos. Com um dispositivo móvel ou um computador, qualquer pessoa pode enviar informação (idealmente uma foto) sobre um problema em determinado lugar. Esses relatos têm sido de grande relevância para as autoridades.</p>
							</a>
							<a class="article-cards__read-more" href="{{ "articles/" | prepend: page.baseurl }}">Leia mais <span class="visuallyhidden">sobre Open 311</span></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="article-cards__card article-cards__card--fluid">
			<div class="article-cards__holder">
				<div class="article-cards__content article-cards__content--front">
					<div class="article-cards__article">
						<div class="article-cards__content-wrapper">
							<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Privacidade</a>
							<header class="article-cards__header">
								<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Privacidade é tema de debate no 2º ENDA</h3></a>
								<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Victor Pimenta</a></span>
							</header>
							<a href="{{ "articles/" | prepend: page.baseurl }}">
								<p class="article-cards__excerpt">A trilha sobre Privacidade no 2º Encontro Nacional de Dados Abertos (ENDA) levantou várias discussões pertinentes à aparente dicotomia entre transparência e sigilo, tratando do tema dos dados abertos e suas implicações para a privacidade e a proteção de dados pessoais ao dar publicidade a informações em formato manipulável e desagregado.</p>
							</a>
							<a class="article-cards__read-more" href="{{ "articles/" | prepend: page.baseurl }}">Leia mais <span class="visuallyhidden">sobre Privacidade é tema de debate no 2º ENDA</span></a>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="article-cards__colaborate article-cards__colaborate--articles article-cards__card--small">
			<a href="#" class="article-cards__colaborate-anchor">
				<svg class="article-cards__icon-plus icon icon-plus" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-plus"></use></svg>
				<h3 class="article-cards__colaborate-text">Envie um artigo</h3>
			</a>
		</article>
	</div>
	<a href="{{ "news/" | prepend: page.baseurl }}" class="anchor-button">Leia todas as notícias</a>
</section>
<!-- END ARTICLES -->