<!-- BE PART -->
<section>
	<div class="section be-part-wrapper">
		<div class="content">
			<div class="center-elements be-part-header">
				<h2 class="be-part-header__title">Faça parte dessa rede!</h2>
				<div class="center-all">
					<p class="col-8-12 be-part-header__description">A Open Data for Development Network lorem ipsum dolor sit amet anno domini die vero. Você pode colaborar de três maneiras:</p>
				</div>
			</div>
			<ul class="be-part-list">
				<li class="be-part-list__item col-4-12">
					<div class="be-part-list__thumb-wrapper">
						<picture>
						  	<source media="(max-width: 767px)" srcset="img/be-part/mobile/be-part--send-small.svg">
							<img class="be-part-list__thumb" src="img/be-part/be-part--send.svg" alt="">
						</picture>
					</div>
					<h3 class="be-part-list__title">Mande sua notícia</h3>
					<p class="be-part-list__paragraph">Envie a sua notícia, publique-a dentro da plataforma OD4D e se torne um correspondente do nosso site.</p>
					<a href="#" class="anchor-button anchor-button--type-b">Saiba como</a>
				</li>
				<li class="be-part-list__item col-4-12">
					<div class="be-part-list__thumb-wrapper">
						<picture>
							<source media="(max-width: 767px)" srcset="img/be-part/mobile/be-part--share-small.svg">
							<img class="be-part-list__thumb" src="img/be-part/be-part--share.svg" alt="" />
						</picture>
					</div>
					<h3 class="be-part-list__title">Que tal abrir os seus dados?</h3>
					<p class="be-part-list__paragraph">Você tem um site que fale sobre dados abertos? Saiba como participar dessa comunidade via RSS.</p>
					<a href="#" class="anchor-button anchor-button--type-b">Entenda melhor</a>
				</li>
				<li class="be-part-list__item col-4-12">
					<div class="be-part-list__thumb-wrapper">
						<picture>
							<source media="(max-width: 767px)" srcset="img/be-part/mobile/be-part--develop-small.svg">
							<img class="be-part-list__thumb" src="img/be-part/be-part--develop.svg" alt="" />
						</picture>
					</div>
					<h3 class="be-part-list__title">Ajude a desenvolver a plataforma</h3>
					<p class="be-part-list__paragraph">É desenvolvedor e se interessa por lorem ipsum dolor sit amet? Consectetur adipiscing elit, sed do eiusmod.</p>
					<a href="#" class="anchor-button anchor-button--type-b">Acesse o Github</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="be-part-wrapper--bottom section center-elements">
		<p class="be-part-guide"><a href="#"><strong class="text--uppercase">Não entendeu nada?</strong> Confira nosso roteiro explicativo dos conceitos de dados abertos</a></p>
	</div>
</section>
<!-- END BE PART -->