<!-- IMPORTANT CONCEPTS -->
<section class="important-concepts-wrapper content">
	<div class="center-elements">
		<h2 class="title title--type-2 title--centered">Conceitos importantes</h2>
	</div>
	<ul class="important-concepts-list">
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
		<li class="important-concepts-list__item col-3-12">
			<a href="#" class="important-concepts-list__anchor">
				<img class="important-concepts-list__thumb" src="{{ "img/examples/example-concept.jpg" | prepend: page.baseurl }}" alt="alt da imagem" />
				<span class="important-concepts-list__thumb">Glossário de dados abertos</span>
			</a>
		</li>
	</ul>
</section>
<!-- END IMPORTANT CONCEPTS -->