<!-- HOME HEADER -->
<header class="section home-header-section">
	<div class="home-header-wrapper">
		<div class="content">
			<h1 class="col-5-12 home-header-wrapper__logo-container"><img class="home-header-wrapper__logo" src="img/logos/od4d-logo.svg" alt="OD4D Network"></h1>
			<div class="col-5-12 last flow-opposite">
				<p class="home-header__intro"><strong class="home-header__intro--highlight">Lorem ipsum dolor sit amet</strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
				<form class="col-4-12 last flow-opposite home-search-container" action="#" role="search" method="get">
					<label for="search" class="visuallyhidden">Busque no site:</label>
					<input id="search" class="home-search-container__search" name="search" type="search" placeholder="Busca" required />
					<input type="submit" value="enviar" class="home-search-container__submit" />
				</form>
			</div>
		</div>
	</div>
</header>
<!-- END HOME HEADER -->