<!-- HOME FOOTER -->
<div class="home-footer-container">
	<img src="{{ "img/logos/od4d-logo--footer.svg" | prepend: page.baseurl }}" alt="OD4D Network" aria-hidden="true" role="presentation" />
	<ul class="footer-links-list flow-opposite">
		<li class="footer-links-list__item">
			<a href="#" class="footer-links-list__anchor text--bold">Confira nossos parceiros</a>
		</li>
		<li class="footer-links-list__item">
			<a href="#" class="footer-links-list__anchor">Termos de uso</a>
		</li>
		<li class="footer-links-list__item">
			<a href="#" class="footer-links-list__anchor">Política de Privacidade</a>
		</li>
		<li class="footer-links-list__item">
			<a href="#" class="footer-links-list__anchor text--bold">
				<svg class="footer-links-list__creative-commons-icon icon icon-creative-commons" aria-role="presentation" aria-hidden="true"><use  xlink:href="{{ "img/icons/icons.svg#icon-creative-commons" | prepend: page.baseurl }}"></use></svg>Creative Commons
			</a>
		</li>
	</ul>
</div>
<!-- END HOME FOOTER -->