<!-- LANGUAGES LIST -->
<ul class="languages-list">
	<li class="languages-list__item">
		<span class="languages-list__anchor is-current">
			<svg class="icon icon-languages"><use xlink:href="{{ "img/icons/icons.svg#icon-language--pt-br" | prepend: page.baseurl }}"></use></svg>
		</span>
	</li>
	<li class="languages-list__item">
		<a href="#" class="languages-list__anchor" title="Visit OD4D Network in English">
			<span class="visuallyhidden">Visit OD4D Network in English</span><svg class="icon icon-languages"><use xlink:href="{{ "img/icons/icons.svg#icon-language--en-us" | prepend: page.baseurl }}"></use></svg>
		</a>
	</li>
	<li class="languages-list__item">
		<a href="#" class="languages-list__anchor" title="Visite OD4D Network en español">
			<span class="visuallyhidden">Visite OD4D Network en español</span><svg class="icon icon-languages"><use xlink:href="{{ "img/icons/icons.svg#icon-language--es-es" | prepend: page.baseurl }}"></use></svg>
		</a>
	</li>
</ul>
<!-- END LANGUAGES LIST -->