<!-- LINKED DATA TOGGLER -->
<div class="linked-data-toggler-container flow-opposite">
	<strong class="linked-data-toggler__text">Linked data</strong>
	<button class="linked-data-toggler__tooltip">
		<svg class="icon icon-question-mark"><use xlink:href="img/icons/icons.svg#icon-question"></use></svg>
		<span class="linked-data-toggler__tooltip-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
	</button>
	<button id="js-linked-data-toggler__toggler" data-linked-data-on="true" class="linked-data-toggler__toggler" role="switch checkbox" aria-label="Alternar Linked Data">
		<span class="linked-data-toggler__toggler-button-wrapper">
			<span class='linked-data-toggler__toggler-button-holder'><svg class="linked-data-toggler__toggler-button icon icon-data-burger"><use xlink:href="img/icons/icons.svg#icon-data-burger"></use></svg></span>
			<span class="linked-data-toggler__toggler-text">on</span>
		</span>
	</button>
</div>
<!-- END LINKED DATA TOGGLER -->