<!-- SOCIAL NETWORKS -->
<section class="social-networks-wrapper">
	<div class="center-elements">
		<h2 class="title title--type-2 title--color-1 title--centered">Nas redes sociais</h2>
	</div>
	<div class="col-4-12">
		{% include /social-networks/social-networks-facebook.html %}
		{% include /social-networks/social-networks-list.html %}
	</div>
	<div class="col-4-12">
		{% include /social-networks/social-networks-twitter.html %}
	</div>
	<div class="col-4-12">
		{% include /social-networks/social-networks-pinterest.html %}
	</div>
</section>
<!-- END SOCIAL NETWORKS -->