<!-- UNDERSTAND BETTER -->
<section class="understand-better-container">
	<h2 class="title title--color-2">Entenda melhor</h2>
	<div class="row">
		<div class="col-5-12 understand-better__video-container">
			<a class="videos-list__thumb-anchor" href="https://www.youtube.com/watch?v=T6_AsumMFm4">
				<img class="videos-list__thumb" src="img/examples/video-image-3.jpg" alt="alt da imagem">
				<svg class="videos-list__thumb-icon icon icon-play" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-play"></use></svg>
			</a>
		</div>
		<div class="col-7-12">
			<picture class="understand-better__logo-wrapper">
				<source media="(max-width: 767px)" srcset="img/logos/small/free-internet--pt-br-small.svg">
				<source media="(max-width: 979px)" srcset="img/logos/medium/free-internet--pt-br-medium.svg">
				<img class="understand-better__logo" src="img/logos/free-internet--pt-br.svg" alt="Eu defendo a internet livre!" />
			</picture>
			<div class="understand-better-share-container">
				<h3 class="understand-better-share__title">Compartilhe essa idéia nas redes sociais:</h3>
				<ul class="understand-better-share">
					<li class="understand-better-share__item">
						<a href="#" class="understand-better-share__anchor">
							<svg class="icon icon-social-networks-share" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-social-twitter"></use></svg>
						</a>
					</li>
					<li class="understand-better-share__item">
						<a href="#" class="understand-better-share__anchor">
							<svg class="icon icon-social-networks-share" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-social-facebook"></use></svg>
						</a>
					</li>
					<li class="understand-better-share__item">
						<a href="#" class="understand-better-share__anchor">
							<svg class="icon icon-social-networks-share" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-social-plus"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- END UNDERSTAND BETTER -->