<!-- VIDEOS -->
<section class="videos-wrapper">
	<h2 class="title">Últimos Vídeos</h2>
	<ul class="videos-list">
		<li class="videos-list__item col-6-12">
			<a class="videos-list__thumb-anchor" href="https://www.youtube.com/watch?v=6LJBNabpr6I">
				<img class="videos-list__thumb" src="img/examples/video-image-1.jpg" alt="alt da imagem">
				<svg class="videos-list__thumb-icon icon icon-play" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-play"></use></svg>
			</a>
			<div class="videos-list__info">
				<div class="videos-list__date-wrapper col-1-12">
					<span class="videos-list__date">08<span class="videos-list__date--month">nov</span></span>
				</div>
				<div class="col-5-12 videos-list__description last">
					<a href="https://www.youtube.com/watch?v=6LJBNabpr6I">
						<h3 class="videos-list__title">Entrevista com Marina Atoji sobre Jornalismo de Dados</h3>
						<p class="videos-list__excerpt">A jornalista Marina Atoji, que trabalha na Associa Brasileira de Jornalismo Investigativo fala um pouco sobre a conversa entre programadores e jornalistas.</p>
					</a>
				</div>
			</div>
		</li>
		<li class="videos-list__item col-6-12">
			<a class="videos-list__thumb-anchor" href="https://www.youtube.com/watch?v=QvC7myf4jmM">
				<img class="videos-list__thumb" src="img/examples/video-image-2.jpg" alt="alt da imagem">
				<svg class="videos-list__thumb-icon icon icon-play" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-play"></use></svg>
			</a>
			<div class="videos-list__about">
				<div class="videos-list__date-wrapper col-1-12">
					<span class="videos-list__date">10<span class="videos-list__date--month">out</span></span>
				</div>
				<div class="col-5-12 videos-list__description last">
					<a href="https://www.youtube.com/watch?v=QvC7myf4jmM">
						<h3 class="videos-list__title">Entrevista com Marina Atoji sobre Jornalismo de Dados</h3>
						<p class="videos-list__excerpt">A jornalista Marina Atoji, que trabalha na Associa Brasileira de Jornalismo Investigativo fala um pouco sobre a conversa entre programadores e jornalistas.</p>
					</a>
				</div>
			</div>
		</li>
	</ul>
	<div class="center-elements--mobile">
		<a href="https://www.youtube.com/user/OpenData4Development/" class="anchor-button">Veja todos os vídeos no nosso canal</a>
	</div>
</section>
<!-- END VIDEOS -->