<!-- AUTHOR LIST -->
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Yasodara Córdova</h3>
						<a class="article-cards__author-anchor" href="#">yaso.is</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Yasodara trabalha na organização W3C e já participou do projeto “x’.</p>
						<p class="article-cards__excerpt">Ao todo tem 34 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-2.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Sergio Lopes</h3>
						<a class="article-cards__author-anchor" href="#">sergiolopes.org</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Sergio trabalha na organização Caelum e já participou do projeto “A Web Mobile”.</p>
						<p class="article-cards__excerpt">Ao todo tem 9 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-3.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Rafael Rinaldi</h3>
						<a class="article-cards__author-anchor" href="#">rinaldi.io</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Rafael trabalha na organização Netshoes e já participou do projeto “FEMUG-SP”.</p>
						<p class="article-cards__excerpt">Ao todo tem 34 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>

<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-5.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Jaydson Gomes</h3>
						<a class="article-cards__author-anchor" href="#">jaydson.com.br</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Jaydson trabalha na organização Terra / NascWeb e já participou do projeto “Brasil JS Conf”.</p>
						<p class="article-cards__excerpt">Ao todo tem 34 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--news article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-4.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Convidados da OKBrasil</h3>
						<a class="article-cards__author-anchor" href="#">br.okfn.org</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Último Post: Ciência aberta, questões abertas: lançamento do livro.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-6.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Thadeu Cascardo</h3>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Thadeu trabalha na organização Linux Technology Center da IBM e já participou do projeto “Free Software Foundation”.</p>
						<p class="article-cards__excerpt">Ao todo tem 60 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>

<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-7.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Alexandre Gaigalas</h3>
						<a class="article-cards__author-anchor" href="#">github.com/alganet</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Alexandre é desenvolvedor, entusiasta de arquiteturas RESTful, Web Semântica e padrões, e já participou do projeto “Lorem ipsum dolor”.</p>
						<p class="article-cards__excerpt">Ao todo tem 34 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<article class="article-cards__card article-cards__card--fluid">
	<div class="article-cards__holder">
		<div class="article-cards__content article-cards__content--front">
			<div class="article-cards__article">
				<div class="article-cards__content-wrapper">
					<header class="article-cards__header">
						<div class="article-cards__thumb-container">
							<img class="article-bio__thumb" src="{{ "img/examples/article-bio-thumb-8.jpg" | prepend: page.baseurl }}" alt="Yasodara Córdova" aria-hidden="true" role="presentation" />
						</div>
						<h3 class="article-cards__author-name">Andrei Sambra</h3>
						<a class="article-cards__author-anchor" href="#">Andrei Sambra</a>
					</header>
					<a href="#">
						<p class="article-cards__excerpt">Andrei trabalha na organização MIT e já participou do projeto “Big Data, Small Data”.</p>
						<p class="article-cards__excerpt">Ao todo tem 124 posts publicados na plataforma.</p>
					</a>
					<a class="article-cards__read-more" href="#">Veja detalhes <span class="visuallyhidden">sobre NOME DO AUTOR</span></a>
				</div>
			</div>
		</div>
	</div>
</article>
<!-- END AUTHOR LIST -->