<!-- RELATED CONTENT -->
<ul class="article-related__list">
	<li class="article-related__item col-4-12">
		<h3 class="article-related__title">Anterior</h3>
		<p class="article-related__post"><a href="#">Quando surgiram os 8 princípios dos dados abertos?</a></p>
	</li>
	<li class="article-related__item col-4-12 flow-opposite">
		<h3 class="article-related__title">Próximo</h3>
		<p class="article-related__post"><a href="#">A importância da Open Knowledge no Brasil</a></p>
	</li>
</ul>
<!-- END RELATED CONTENT -->