<!-- ARTICLE BIO -->
<aside class="article-bio">
	<div class="article-bio__about-container article-bio__about-container--network">
		<h2 class="article-bio__title">Open Knowledge Brasil</h2>
		<a class="article-bio__link" href="#">br.okfn.org</a>
		<p class="article-bio__bio"><strong>Último post:</strong> <a href="#">Ciência aberta, questões abertas: lançamento do livro.</a></p>
	</div>
	<div class="article-bio__numbers-container article-bio__numbers-container--percentage">
		<p class="article-bio__graph-container"><span class="article-bio__graph-container-percentage">45%</span> <span class="article-bio__graph-container-text">Dos posts publicados na rede OD4D vieram desse site de origem</span></p>
	</div>
	<div class="article-bio__numbers-container article-bio__numbers-container--compost">
		<h3 class="article-bio__header">Ao todo são:</h3>
		<p class="article-bio__numbers"><span class="article-bio__number">127</span> <span class="article-bio__numbers-description">notícias</span></p>
		<p class="article-bio__numbers"><span class="article-bio__number">15</span> <span class="article-bio__numbers-description">colaboradores</span></p>
	</div>
</aside>
<!-- END ARTICLE BIO -->