<!-- SEMANTIC LIST -->
<aside class="semantic-list-container">
	<ul class="semantic-list__list">
		<li class="semantic-list__list-item">
			<h3 class="semantic-list__title">Categoria:</h3>
			<ul class="semantic-list__itens-list">
				<li class="semantic-list__itens-list-item"><a href="#">Dados abertos</a></li>
			</ul>
		</li>
		<li class="semantic-list__list-item">
			<h3 class="semantic-list__title">Tags:</h3>
			<ul class="semantic-list__itens-list">
				<li class="semantic-list__itens-list-item"><a href="#">Jornalismo de dados</a>,</li>
				<li class="semantic-list__itens-list-item"><a href="#">Gustavo Faleiros</a>,</li>
				<li class="semantic-list__itens-list-item"><a href="#">Marina Atoji</a></li>
			</ul>
		</li>
	</ul>
</aside>
<!-- END SEMANTIC LIST -->