<!-- SOCIAL SHARER -->
<aside class="social-sharer-container">
	<h3 class="title">Gostou? Compartilhe!</h3>
	<ul class="social-sharer">
		<li class="social-sharer__item">
			<a href="#" class="social-sharer__anchor" title="Compartilhe a notícia NOME DA NOTÍCIA no Twitter">
				<svg class="icon icon-social-share" aria-role="presentation"><use xlink:href="{{ "img/icons/icons.svg#icon-social-twitter" | prepend: page.baseurl }}"></use></svg>
				<span class="visuallyhidden">Compartilhe a notícia NOME DA NOTÍCIA no Twitter</span>
			</a>
		</li>
		<li class="social-sharer__item">
			<a href="#" class="social-sharer__anchor" title="Compartilhe a notícia NOME DA NOTÍCIA no Facebook">
				<svg class="icon icon-social-share" aria-role="presentation"><use xlink:href="{{ "img/icons/icons.svg#icon-social-facebook" | prepend: page.baseurl }}"></use></svg>
				<span class="visuallyhidden">Compartilhe a notícia NOME DA NOTÍCIA no Facebook</span>
			</a>
		</li>
		<li class="social-sharer__item">
			<a href="#" class="social-sharer__anchor" title="Compartilhe a notícia NOME DA NOTÍCIA no Google Plus">
				<svg class="icon icon-social-share" aria-role="presentation"><use xlink:href="{{ "img/icons/icons.svg#icon-social-plus" | prepend: page.baseurl }}"></use></svg>
				<span class="visuallyhidden">Compartilhe a notícia NOME DA NOTÍCIA no Google Plus</span>
			</a>
		</li>
	</ul>
</aside>
<!-- END SOCIAL SHARER -->