<!--LAST ROW -->

<!--FIRST COLUMN -->
<div class="col-3-12">
	<article class="article-cards__card article-cards__card--news article-cards__card--small col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Dados abertos</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Comunidade – A resposta para inovação?</h3></a>
							<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Larissa Brainer</a> no <a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__site">Open Knowledge Brasil</a></span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">Para marcar o Dia Internacional de Dados Abertos, a cidade de São Carlos (SP) recebe uma mesa redonda sobre o assunto, no próximo sábado (21), a partir das 9h.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Dados Abertos</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "author/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias por <strong>Larissa Brainer da Silva Souza</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as publicadas no <strong>Open Knowledge Brasil</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="col-3-12 article-cards__colaborate article-cards__colaborate--news article-cards__card--small">
		<a href="#" class="article-cards__colaborate-anchor">
			<svg class="article-cards__icon-plus icon icon-plus" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-plus"></use></svg>
			<h3 class="article-cards__colaborate-text">Envie uma noticia</h3>
		</a>
	</article>

</div>
<!--END FIRST COLUMN -->

<!-- SECOND COLUMN -->
<div class="col-3-12">

	<article class="article-cards__card col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="{{ "articles/" | prepend: page.baseurl }}">
						<img class="article-cards__thumb" src="img/examples/card-image-2.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Sociedade</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Cuidando do meu bairro</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">O orçamento público deve expressar o plano das ações para atender às necessidades da população.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Sociedade</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

</div>
<!-- END SECOND COLUMN -->

<!-- THIRD COLUMN -->
<div class="col-6-12">

	<article class="article-cards__card col-6-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="{{ "articles/" | prepend: page.baseurl }}">
						<img class="article-cards__thumb" src="img/examples/card-image-wide.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">RDF</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Biblioteca do Congresso Nacional do Chile</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">A Biblioteca do Congresso Nacional do Chile (BCN) é a primeira instituição estatal da América Latina que recebeu, da Fundação CTIC, as 5 estrelas dos Dados Linkados. </p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>RDF</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

</div>
<!-- END THIRD COLUMN -->

<!--END LAST ROW -->