<!--FIRST COLUMN -->
<div class="col-12-12">
	<article class="article-cards__card col-6-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="#">
						<img class="article-cards__thumb" src="img/examples/card-image-wide-2.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="#" class="article-cards__category">Materiais de referência</a>
						<header class="article-cards__header">
							<a href="#"><h3 class="article-cards__title">ENDA: Educação em Dados Abertos</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="#">
							<p class="article-cards__excerpt">Na Trilha Educação em Dados Abertos do Encontro Nacional de Dados Abertos, contamos com a participação de dois membros da sociedade civil e dois membros do governo.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="#" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Materiais de referência</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="article-cards__card col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<div class="article-cards__content-wrapper">
						<a href="#" class="article-cards__category">Dados abertos</a>
						<header class="article-cards__header">
							<a href="#"><h3 class="article-cards__title">Resultado do 1º concurso de softwares para Dados Abertos OD4D</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="#">
							<p class="article-cards__excerpt">Saiu o resultado do concurso de software fomentado pelo W3C Brasil, que, em associação com a Comissão Econômica para a América Latina e Caribe (CEPAL) e financiado pelo Centro Internacional.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="#" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Dados abertos</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="article-cards__card col-3-12 last">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="#">
						<img class="article-cards__thumb" src="img/examples/card-image-1.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="#" class="article-cards__category">Materiais de referência</a>
						<header class="article-cards__header">
							<a href="#"><h3 class="article-cards__title">ENDA: Educação em Dados Abertos</h3></a>
							<span class="article-cards__date">25 de fevereiro de 2014</span>
						</header>
						<a href="#">
							<p class="article-cards__excerpt">A cidade de São Carlos (SP) recebe uma mesa redonda sobre dados abertos.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="#" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Materiais de referência</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

</div>
<!--END FIRST COLUMN -->

<!-- SECOND COLUMN -->
<div class="col-12-12">

	<div class="col-3-12">

		<article class="article-cards__card article-cards__card--small col-3-12">
			<div class="article-cards__holder">
				<div class="article-cards__content article-cards__content--front">
					<div class="article-cards__article">
						<div class="article-cards__content-wrapper">
							<a href="#" class="article-cards__category">Cadeia de valor</a>
							<header class="article-cards__header">
								<a href="#"><h3 class="article-cards__title">Resultado da Chamada Pública de Artigos</h3></a>
								<span class="article-cards__date">05 de novembro de 2012</span>
							</header>
							<a href="#">
								<p class="article-cards__excerpt">Para marcar o Dia Internacional de Dados Abertos, a cidade de São Carlos (SP) recebe uma mesa redonda sobre o assunto, no próximo sábado (21), a partir das 9h.</p>
							</a>
						</div>
					</div>
				</div>
				<div class="article-cards__content article-cards__content--back">
					<ul class="article-cards__connections-list">
						<li class="article-cards__connections-item">
							<a href="#" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Cadeia de valor</strong></a>
						</li>
					</ul>
				</div>
			</div>
			<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
		</article>

		<article class="col-3-12 article-cards__colaborate article-cards__card--small">
			<a href="#" class="article-cards__colaborate-anchor">
				<svg class="article-cards__icon-plus icon icon-plus" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-plus"></use></svg>
				<h3 class="article-cards__colaborate-text">Seja um colaborador</h3>
			</a>
		</article>

	</div>

	<article class="article-cards__card col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="#">
						<img class="article-cards__thumb" src="img/examples/card-image-2.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="#" class="article-cards__category">Sociedade</a>
						<header class="article-cards__header">
							<a href="#"><h3 class="article-cards__title">Cuidando do meu bairro</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="#">
							<p class="article-cards__excerpt">O orçamento público deve expressar o plano das ações para atender às necessidades da população.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="#" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Sociedade</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="article-cards__card last col-6-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="#">
						<img class="article-cards__thumb" src="img/examples/card-image-wide.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="#" class="article-cards__category">RDF</a>
						<header class="article-cards__header">
							<a href="#"><h3 class="article-cards__title">Biblioteca do Congresso Nacional do Chile</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="#">
							<p class="article-cards__excerpt">A Biblioteca do Congresso Nacional do Chile (BCN) é a primeira instituição estatal da América Latina que recebeu, da Fundação CTIC, as 5 estrelas dos Dados Linkados. </p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="#" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>RDF</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

</div>