<!--FIRST ROW -->

<!--FIRST COLUMN -->
<div class="col-9-12">

	<article class="article-cards__card article-cards__card--news article-cards__card--highlight article-cards__card--small col-9-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Transparência</a>
						<header class="article-cards__header">
							<span class="article-cards__card-highlight-icon"><svg class="icon icon-card-highlight" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-card-highlight"></use></svg></span>
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Acesso à Informação: CGU manda pedido de planilhas da CAPES para a gaveta</h3></a>
							<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Jorge Machado</a> no <a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__site">Open Knowledge Brasil</a></span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}" class="article-cards__excerpt-anchor">
							<p class="article-cards__excerpt">O orçamento público deve expressar o planejamento das ações para atender às necessidades e prioridades da população.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Privacidade &amp; Segurança</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "author/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias por <strong>Larissa Brainer da Silva Souza</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as publicadas no <strong>Open Knowledge Brasil</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Ver todas em <strong>destaque</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="article-cards__card col-6-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="{{ "articles/" | prepend: page.baseurl }}">
						<img class="article-cards__thumb" src="img/examples/card-image-wide-2.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Transparência</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Acesso à Informação: CGU manda pedido de planilhas da CAPES para a gaveta</h3></a>
							<span class="article-cards__date">05 de novembro de 2012</span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">O orçamento público deve expressar o planejamento das ações para atender às necessidades e prioridades da população.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Transparência</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias na data <strong>05 de novembro de 2012</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="article-cards__card article-cards__card--news col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Dados abertos</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">São Carlos (SP) terá mesa redonda para marcar Open Data Day</h3></a>
							<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Larissa Brainer</a> no <a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__site">Open Knowledge Brasil</a></span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">Para marcar o Dia Internacional de Dados Abertos, a cidade de São Carlos (SP) recebe uma mesa redonda sobre o assunto, no próximo sábado (21), a partir das 9h.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Privacidade &amp; Segurança</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "author/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias por <strong>Larissa Brainer da Silva Souza</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as publicadas no <strong>Open Knowledge Brasil</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

</div>
<!--END FIRST COLUMN -->

<!-- SECOND COLUMN -->
<div class="col-3-12 last">
	<article class="article-cards__card col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<a href="{{ "articles/" | prepend: page.baseurl }}">
						<img class="article-cards__thumb" src="img/examples/card-image-1.jpg" alt="alt da imagem" />
					</a>
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Materiais de referência</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">ENDA: Educação em Dados Abertos</h3></a>
							<span class="article-cards__date">25 de fevereiro de 2014</span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">A cidade de São Carlos (SP) recebe uma mesa redonda sobre dados abertos.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Materiais de referência</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

	<article class="article-cards__card article-cards__card--small article-cards__card--news col-3-12">
		<div class="article-cards__holder">
			<div class="article-cards__content article-cards__content--front">
				<div class="article-cards__article">
					<div class="article-cards__content-wrapper">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__category">Privacidade</a>
						<header class="article-cards__header">
							<a href="{{ "articles/" | prepend: page.baseurl }}"><h3 class="article-cards__title">Uso e Reuso de Dados Abertos: a parte que entra em contato com o ser humano</h3></a>
							<span class="article-cards__date">Por <a href="{{ "author/" | prepend: page.baseurl }}">Larissa Brainer</a> no <a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__site">Open Knowledge Brasil</a></span>
						</header>
						<a href="{{ "articles/" | prepend: page.baseurl }}">
							<p class="article-cards__excerpt">A cidade de São Carlos (SP) recebe uma mesa redonda sobre dados abertos.</p>
						</a>
					</div>
				</div>
			</div>
			<div class="article-cards__content article-cards__content--back">
				<ul class="article-cards__connections-list">
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Materiais de referência</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "author/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias por <strong>Larissa Brainer</strong></a>
					</li>
					<li class="article-cards__connections-item">
						<a href="{{ "category/" | prepend: page.baseurl }}" class="article-cards__connections-anchor">Veja todas as notícias a respeito de <strong>Open Knowledge</strong></a>
					</li>
				</ul>
			</div>
		</div>
		<button class="article-cards__connections-toggler"><span class="visuallyhidden">ver ligações</span><svg class="icon icon-rotate" aria-role="presentation"><use xlink:href="img/icons/icons.svg#icon-rotate"></use></svg></button>
	</article>

</div>
<!-- END SECOND COLUMN -->

<!--END FIRST ROW -->